.head{ border : 1px solid black;
       width: 600px ;
       text-align : center;
       margin : auto ;
       padding : 15px ;
       border-radius : 5px ;}
.place {width : 920px ;      
        border : 0.25px solid black ;
        border-radius : 3px ;
        margin: auto ;
        padding: 20px ;
        font-size : 22px ;}
.cover{ background-color : #d9d9d9 ;
        padding:15px ;
        border-radius : 5px ;}